/* .topic-container{
    display: grid;
    
} */
.topic{
    background-color: rgb(238, 218, 192);
}
.topic button{
    width: 80%;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(218, 137, 243);
}