.topic-container{
    display: flex;
    justify-content: space-evenly;
    
}
.topic-container img{
    width: 250px;
}

@media screen and (max-width: 480px) {
    .topic-container{
        display: block;
        margin: 10px;
        
    }
}