.header{
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    text-decoration: none;
    margin: 10px;
    background-color: rgb(203, 161, 241);
    font-size: 20px;
    font-weight: 400;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}
@media screen and (max-width: 480px) {
    .header{
        display: block;
    }
    .link{
        display: block;
    }
}